body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    min-width: 30rem;
}

#app {
    height: 100vh;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0.5rem;
}

tbody tr:hover {
    background: #c0c0c03f;
}

th, td {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

fieldset:disabled input, fieldset:disabled textarea {
    background: #7f7f7f1f;
    cursor: not-allowed;
}

/* for development */
div {
    /*border: 1px solid;*/
}